.photo-grid {
  margin: 92px 48px 0;
  display: grid;
  gap:16px 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
}

@media (max-width:1279px) {

  .photo-grid {
    gap:14px 14px;
    grid-template-columns: repeat(3, 1fr);
  }

}


@media (max-width:1023px){

  .photo-grid {
    margin: calc(0.015625 * 100vw + 76px) calc(0.09375 * 100vw - 48px) 0;
    gap:16px 16px;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width:767px){
  .photo-grid {
    margin: 64px 16px 0;
    display: flex;
    flex-direction: column;
    gap:12px;
  }
}
