.places {
  display: flex;
  flex-direction: column;
  margin: 92px 148px 0;
  gap: 80px;
}

@media (max-width:1279px) {

  .places {
    margin-left: calc(0.390625 * 100vw - 352px);
    margin-right: calc(0.390625 * 100vw - 352px);
  }

}

@media (max-width:1023px){

  .places {
    margin: calc(0.015625 * 100vw + 76px) calc(0.09375 * 100vw - 48px) 0;
    gap: 71px;
  }

}
