.cover__subtitle {
  margin: 0;
  width: 360px;
  height: 66px;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  }


  @media (max-width:767px) {
    .cover__subtitle {
      width: 288px;
      font-size: 14px;
      line-height: 16px;
      }

  }
