.footer__paragraph{
  float:right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin:0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

}

@media (max-width:767px){

  .footer__paragraph{
    float:unset;
    text-align: left;
    text-decoration: none;
    margin-top: 50px;
    font-size: 14px;
    line-height: 14px;
  }

}
