.footer {
  display: flex;
  justify-content: space-between;
  margin:92px 48px 0;
  padding-bottom: 24px;
}

@media (max-width:1023px){

  .footer {
    margin: 86px 24px 0;
  }

}

@media (max-width:767px){

  .footer {
    flex-direction: column;
    gap: 16px;
    margin: 64px 118px 24px 16px;
    padding: 0;
  }

}
