.cover-container {
  margin: 92px 48px 0;
  aspect-ratio: 8 / 5;
  box-sizing: border-box;
}

@media (max-width:1279px) {
  .cover-container {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
  }
}

@media (max-width:767px) {

  .cover-container {
    margin-top:66px;
  }
}
