.cover-container {
  margin: 92px 48px 0;
}

@media (max-width:1279px) {

  .cover-container {
    margin-left: 0;
    margin-right: 0;
  }

}


@media (max-width:767px) {

  .cover-container {
    margin-top:66px;
  }

}
