.place__url {
  margin: 0;
  text-decoration: none;
  padding:0;
  text-decoration-line: underline;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.place__url:hover {
    opacity: 0.8;
}
