.page {
  margin: 0 auto;
  color: #fff;
  font-family: Inter;
  width: 1280px;
}


body {
  background: #2A2C2F;
  /*width: 1280px;
  margin:0 auto;*/
}

/*div, nav, h1, h2, h3, p, ul, li, section img {

  border:1px solid red;

}*/

.header {
  margin: 28px 48px 0;
  max-height: 52px;
  /*width: 100%;*/
  display: flex;
  justify-content: space-between;

}
.header__lang {
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  margin: 0;
  align-self: flex-end;
  padding-bottom: 5px;
}
.header__lang_en {
  padding: 0 0 0 18px;
  text-decoration: none;
  color: #fff;
}
.header__lang_ru {
  text-decoration: none;
  padding:0;
  text-align: right;
  text-decoration-line: underline;
  color: #fff;
}
.header__logo{
  object-fit: fill;
  width: 176px;
}
.lead {
  margin: 56px 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__title {
  margin: 0 auto;
  width: 720px;
  height: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
.lead__subtitle {
  width: 640px;
  height: 72px;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.lead__image {
  margin: 64px auto 0;
  /*width: 984px;*/
  width: 100%;
  /*height: 615px;*/
  object-fit: fill;
}
.lead__caption {
  margin: 8px auto 0 0;
  width: 168px;
  height: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.intro {
  margin: 92px auto 0 148px;
  width: 690px;
  height: 429px;
  display: flex;
  flex-direction: column;
}
.intro__title {
  margin: 0;
  width: 100%;
  height: 58px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
  margin-top: 40px;
  margin-bottom:0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}
.intro__list {
  list-style: none;
  text-decoration: none;
  margin-top: 33px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}
.photo-grid {
  margin: 92px 48px 0;
  /*width: 100%;*/
  display: grid;
  gap:16px 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
}

.photo-grid__item {
  width: 100%;
}

.places {
  display: flex;
  flex-direction: column;
  margin: 92px 148px 0;
  gap: 80px;
}
.place {
  display: grid;
  grid-template-columns: 460px minmax(auto, 484px);
  grid-template-areas:
    'title website'
		'image text';
  gap: 48px 40px;
}
.place__title {
  grid-area: title;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: start;
}
.place__website {
  grid-area: website;
  align-self: end;
}
.place__website-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;

}
.place__url {
  margin: 0;
  text-decoration: none;
  padding:0;
  text-decoration-line: underline;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}
.place__image {
  grid-area: image;
  max-width: 100%;
  /*max-height: 460px;*/
  object-fit: cover;
}
.place__text{
  grid-area:text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}
.place__paragraph {

  margin:0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}
.cover-container {
  margin: 92px 48px 0;
  /*width: 100%;*/
  aspect-ratio: 8 / 5;
  box-sizing: border-box;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}
.cover__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: block;
}
.cover:hover:before {
  opacity: 0.8;
}
.cover__title {
margin: 0;
padding-top: 245px;
width: 560px;
height: 152px;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
}
.cover__subtitle {
margin: 0;
width: 360px;
height: 66px;
padding-top: 32px;
padding-bottom: 245px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
}

.footer {
  margin:92px 48px 0;
  padding-bottom: 24px;
}
.footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
}
.footer__list{
  float: left;
}
.footer__link {
  display: block;
  color: white;
  text-align: center;
  padding-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  }

.footer__paragraph{
  float:right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin:0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

}

@media (max-width:1279px) {
  .page {
      width: 1024px;
  }
  /*.lead {
    margin-right: calc(0.390625 * 100vw - 400px);
    margin-left: calc(0.390625 * 100vw - 400px);
    margin-top:calc(0.03125 * 100vw + 16px);
  }*/

  .lead {
    margin: calc(0.03125 * 100vw + 16px) calc(0.390625 * 100vw - 352px);
  }

  .lead__image {
    margin: calc(0.03125 * 100vw + 24px) auto 0;
  }

  .intro {
    margin-left: calc(0.390625 * 100vw - 352px);
  }

  .photo-grid {
    gap:14px 14px;
    grid-template-columns: repeat(3, 1fr); /*todo*/
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
  }

  .places {
    margin-left: calc(0.390625 * 100vw - 352px);
    margin-right: calc(0.390625 * 100vw - 352px);
  }


  .place {
    grid-template-columns: calc(0.078125 * 100vw + 360px) minmax(auto, 484px);
    gap: 48px 32px;
  }

  .cover-container {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
  }

  .cover__title {
    padding-top: 245px;
  }



}

